* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/Free\ course\ \(8\).png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 1.5vw 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 1vw;
    width: 14.5vw;
    height: 4.8vw;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1.5vw 3.3vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7vw;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.15vw;
    background: #E97B00;
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20vw;
    font-size: 3.3vw;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

.header-text h1 {
    font-size: 6vw;
    margin-top: 1.5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
}

.header-text h1 span {
    font-family: "Copperplate Gothic Light";
    font-variant: small-caps;
    color: #E97B00;
}

/* --------------about--------------- */

#about {
    padding: 7.5vw 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 .sub-title {
    font-size: 3.3vw;
    font-weight: 600;
    color: #fff;
    font-variant: small-caps;
}

.about-col-2 .sub-title span {
    color: #E97B00;
}

.tab-titles {
    display: flex;
    margin: 1.5vw 0 3vw;
}

.tab-links {
    margin-right: 5vw;
    font-size: 1.8vw;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 0.15vw;
    background: #E97B00;
    position: absolute;
    left: 0;
    bottom: -0.4vw;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 1vw 0;
}

.tab-contents ul li span {
    color: #eea14a;
    font-size: 1.4vw;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* --------------------services---------------- */

#services {
    padding: 3vw 0;
}

#services .container .sub-title {
    font-variant: small-caps;
}

#services .container .sub-title span {
    color: #E97B00;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-gap: 4vw;
    margin-top: 5vw;
}

.services-list div {
    background: #262626;
    padding: 4vw;
    font-size: 1.3vw;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 5vw;
    margin-bottom: 3vw;
}

.services-list div h2 {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 1.5vw;
    font-variant: small-caps;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    margin-top: 2vw;
    display: inline-block;
}

.services-list div:hover {
    background: #E97B00;
    transform: translateY(-1vw);
}

/* ----------------portfolio-------------------- */
#portfolio {
    padding: 2.5vw 0;
}

#portfolio .container .sub-title {
    font-variant: small-caps;
}

#portfolio .container .sub-title span {
    color: #E97B00;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-gap: 4vw;
    margin-top: 5vw;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #E97B00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4vw;
    text-align: center;
    font-size: 1.4vw;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 2vw;
}

.layer a {
    margin-top: 2vw;
    color: #E97B00;
    text-decoration: none;
    font-size: 1.8vw;
    line-height: 6vw;
    background: #fff;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 5vw auto;
    width: fit-content;
    border: 0.3vw solid #E97B00;
    padding: 2.8vw 12vw;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #E97B00;
}

/* ---------------contact----------------- */

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 3vw;
}

.contact-left .sub-title {
    font-variant: small-caps;
}

.contact-left .sub-title span {
    color: #E97B00;
}

.contact-left p a {
    text-decoration: none;
    color: #fff;
}

.contact-left p i {
    color: #E97B00;
    margin-right: 1.5vw;
    font-size: 2.5vw;
}

.social-icons {
    margin-top: 3vw;
}

.social-icons a {
    text-decoration: none;
    font-size: 3vw;
    margin-right: 1.5vw;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #E97B00;
    transform: translateY(-0.5vw);
}

.btn.btn2 {
    display: inline-block;
    background: #E97B00;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 1.5vw;
    margin: 1.5vw 0;
    color: #fff;
    font-size: 1.8vw;
    border-radius: 6px;
}

form .btn.btn2 {
    padding: 2.8vw 12vw;
    font-size: 1.8vw;
    margin-top: 2vw;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 1.25vw 0;
    background: #262626;
    font-weight: 300;
    margin-top: 2vw;
}

.copyright i {
    color: #E97B00;
}

nav .fa-solid {
    display: none;
}

#msg {
    color: #61b752;
    margin-top: -2vw;
    display: block;
}
